@font-face {
    font-family: 'Batiment Ext Bold';
    src: url('fonts/batimentext-bold-webfont.woff2') format('woff2'),
         url('fonts/batimentext-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
